%html
  %head
    %title Debillitated
    %link{:href => "/css/screen.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
  %body
    #page
      #content
        #section
          =yield